$doc-font-size: 15px !default;

$body-background:      transparent !default;
$body-color:           $text !default;
$body-font-family:     $family-primary !default;
$body-font-size:       $size-3 !default;
$body-font-weight:     $weight-normal !default;
$body-letter-spacing:  0 !default;
$body-line-height:     1.5 !default;
$body-overflow-y:      visible !default;

$link-text-decoration: underline !default;
$link-outline:         none !default;

/* ---- Reset ------------------------ */

  /* References: davidwells/reset, and necolas/normalise */

  /* Using the mixin below to help reduce devtools style stacking */

  p, ol, ul, li, dl, dt, dd, form, blockquote, figure, fieldset,
  legend, textarea, hr, tbody, tfoot, thead, tr, caption {
    margin: 0;
    padding: 0;
  }
  q, article, aside, details, figcaption, form, figure,
  footer, header, hgroup, main,  menu, nav, section, summary {
    display: block;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
  }
  b,
  strong {
    font-weight: bolder;
  }
  html {
    font-size: $doc-font-size;
    /*reset style(s) below to reduce devtools style stacking */
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: $body-background;
    color: $body-color;
    font-family: $body-font-family;
    font-size: $body-font-size;
    font-weight: $body-font-weight;
    letter-spacing: $body-letter-spacing;
    line-height: $body-line-height;
    overflow-y: $body-overflow-y;
    /*reset style(s) below to reduce devtools style stacking */
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }
  pre {
    margin: 0;
    padding: 0;
    display: block;
    font-family: monospace, monospace;
  }
  code, kbd, samp {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    font-family: monospace, monospace;
  }
  small {
    margin: 0;
    padding: 0;
    font-size: 80%;
  }
  sub, sup {
    margin: 0;
    padding: 0;
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  sub {
    bottom: -0.25em;
  }
  sup {
    top: -0.5em;
  }
  img, video {
    height: auto;
    max-width: 100%;
  }
  iframe {
    border: 0;
  }

/* ---- Reset: Table ----------------- */

  table,
  .table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
  }
  .thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
  }
  .tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
  th,
  .th {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: inherit;
  }
  td,
  .td {
    margin: 0;
    padding: 0;
    display: table-cell;
    vertical-align: inherit;
    text-align: inherit;
  }
  td:not([align]),
  th:not([align]) {
    text-align: inherit;
  }

/* ---- Reset: Forms ----------------- */

  @mixin formmixin() {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
  }
  button {
    @include formmixin();
    text-transform: none;
    overflow: visible;
  }
  input {
    @include formmixin();
    overflow: visible;
  }
  optgroup {
    @include formmixin();
  }
  select {
    @include formmixin();
    text-transform: none;
  }
  textarea {
    @include formmixin();
    overflow: auto;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    padding: 0;
  }
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  [type="search"] {
  -webkit-appearance: textfield;
    outline-offset: -2px;
  }
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  [hidden] {
    display: none;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
  input[type="date"],
  input[type="datetime-local"],
  input[type="time"],
  input[type="month"],
  input[type="week"] {
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

/* ---- Generic ---------------------- */

  a {
    color: $link;
    background-color: transparent; /* ie10 */
    text-decoration: $link-text-decoration;
    text-decoration-color: $link;
  }
  a:hover {
    color: $link--hover;
    text-decoration-color: $link--hover;
  }
  a:focus {
    color: $link--focus;
    text-decoration-color: $link--focus;
    outline: $link-outline;
  }
  .preload * {
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
  }
