$btn-border-color: $grey !default;

.btn {
  position: relative;
  display: inline-block;
  padding: 14px 30px 14px;
  margin-top: 2px; /* helpful in content */
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.5em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  transition: all 200ms ease;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}
.btn svg {
  display: block;
  float: right;
  margin: 4px -4px 0px 10px;
}
.btn-small {
  padding: 9px 30px;
  min-width: 0;
}

/* Loading */

.btn::after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.2em;
  height: 1.2em;
  margin: -0.62em;
  border: 2px solid $grey;
  border-left-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: loaderOne .9s cubic-bezier(.435,.165,.615,.81) infinite;
}
.btn.is-loading,
.btn.is-loading:hover,
.btn.is-loading:focus {
  cursor: default;
  color: transparent !important;
}
.btn.is-loading::after {
  display: block;
}
@keyframes loaderOne {
  100% {
    transform: rotate(360deg);
  }
}

/* Button (white) */

.btn {
  color: $text;
  background: #fff;
  box-shadow: 0 0 0px 2px $btn-border-color inset;
}
.btn:hover,
.btn:focus {
  color: $text;
  box-shadow: 0 0 0px 2px darken($btn-border-color, 8%) inset;
  background-color: darken(#fff, 3%);
}
.btn::after {
  border-right-color: $text;
  border-bottom-color: $text;
}

/* Button two (primary) */

.btn-two {
  color: #fff;
  background: $primary;
  box-shadow: 0px 5px 12px rgba($primary, 0.27);
}
.btn-two:hover,
.btn-two:focus {
  color: #fff;
  background: darken($primary, 8%);
  box-shadow: 0px 5px 12px rgba($primary, 0.27);
}
.btn-two::after {
  border-right-color: #fff;
  border-bottom-color: #fff;
}

/* Form buttons */

.btns .btn {
  margin-right: 0.8rem;
}
.btns .btn:last-child {
  margin-right: 0;
}

@media (max-width: 580px) {
  .btn {
    min-width: 180px;
    padding: 11px 34px 12px;
    width: 100%;
    margin-right: 0;
  }
}






