/* ---- Columns ---------------------- */

  .cols {
    margin-right: -16px;
    margin-left: -16px;
    display: flex;
    flex-wrap: wrap;
  }
  .col,
  .col-1,
  .col-1-5, // 8 columns
  .col-2,  // 6 columns
  .col-2-5, // ..
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: none;
    position: relative;
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.6666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2-5 {
    width: 20%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.333333333%;
  }
  .col-1-5 {
    width: 12.5%; // 8 columns
  }
  .col {
    flex: 1;
  }
  @media (max-width: 1000px) {
    .col-15,
    .col-2 {
      width: 33.33333333%;
    }
  }
  @media (max-width: 770px) {
    .col,
    .col-1-5,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
      width: 100%;
    }
    .col-1,
    .col-2,
    .col-2-5,
    .col-3,
    .col-4 {
      width: 50%;
    }
  }
  @media (max-width: 590px) {
    .col-3,
    .col-4 {
      width: 100%;
    }
  }
  @media (max-width: 470px) {
    .col-1,
    .col-2,
    .col-2-5 {
      width: 100%;
    }
  }

  /* Column gap */

  @each $i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] {
    .gap-#{$i} {
      margin-right: #{$i * -4px};
      margin-left: #{$i * -4px};
    }
    .gap-#{$i} > .col,
    .gap-#{$i} > [class*="col-"] {
      padding-right: #{$i * 4px};
      padding-left: #{$i * 4px};
    }
  }

/* ---- Text columns ----------------- */

  .text3 {
    column-count: 3;
    column-gap: 50px;
    padding: 0 1px;
  }
  .text3 p {
    margin: 0px;
    display: inline;
  }
  @media only screen and (max-width: 880px) {
    .text3 {
      column-count: 2;
    }
  }
  @media only screen and (max-width: 680px) {
    .text3 {
      column-count: 1;
    }
  }

/* ---- Narrow typo --------------- */

  .typo-narrow p,
  .typo-narrow ul {
    width: 70%;
  }
  @media only screen and (max-width: 1000px) {
    .typo-narrow p,
    .typo-narrow ul {
      width: 88%;
    }
  }
  @media only screen and (max-width: 550px) {
    .typo-narrow p,
    .typo-narrow ul {
      width: 100%;
    }
  }
