$breakpoint-l: 1023px !default; /*desktop*/
$breakpoint-m: 768px !default; /*tablet*/
$breakpoint-s: 590px !default; /*mobile*/
$breakpoint-xs: 590px !default;
$col-gap-multiplier: 0.66rem !default; // 10px

/* ---- Columns ---------------------- */

  .cols {
    margin-right: $col-gap-multiplier * -1;
    margin-left: $col-gap-multiplier * -1;
    display: flex;
    flex-wrap: wrap;
  }
  .col-none,    // flex none
  .col-initial, // flex initial/0
  .col,         // flex 1
  .col-1,       // 12 columns
  .col-1-5,     // 8 columns
  .col-2,       // 6 columns
  .col-2-5,     // 2.08 columns
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    flex: none;
    position: relative;
    min-height: 1px;
    padding-left: $col-gap-multiplier;
    padding-right: $col-gap-multiplier;
    box-sizing: border-box;
  }
  .col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.6666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2-5 {
    width: 20%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.333333333%;
  }
  .col-1-5 {
    width: 12.5%; // 8 columns
  }
  .col {
    flex: 1;
  }
  .col-initial {
    flex: 0;
  }
  @mixin col-l($isnot) {
    #{$isnot} {
      .col-1,
      .col-1-5,
      .col-2 {
        width: 33.33333333%;
      }
    }
  }
  @mixin col-m($isnot) {
    #{$isnot} {
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10,
      .col-11,
      .col-12 {
        width: 100%;
      }
      .col-1,
      .col-1-5,
      .col-2,
      .col-2-5,
      .col-3,
      .col-4 {
        width: 50%;
      }
    }
  }
  @mixin col-s($isnot) {
    #{$isnot} {
      .col-3,
      .col-4 {
        width: 100%;
      }
    }
  }
  @mixin col-xs($isnot) {
    #{$isnot} {
      .col-1,
      .col-1-5,
      .col-2,
      .col-2-5 {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: $breakpoint-l) {
    @include col-l('.cols:not(.is-l), .cols:not(.is-m), .cols:not(.is-s), .cols:not(.is-xs)');
  }
  @media print and (max-width: $breakpoint-l) {
    @include col-l('.cols:not(.is-l-print), .cols:not(.is-m-print), .cols:not(.is-s-print), .cols:not(.is-xs-print)');
  }
  @media screen and (max-width: $breakpoint-m) {
    @include col-m('.cols:not(.is-m), .cols:not(.is-s), .cols:not(.is-xs)');
  }
  @media print and (max-width: $breakpoint-m) {
    @include col-m('.cols:not(.is-m-print), .cols:not(.is-s-print), .cols:not(.is-xs-print)');
  }
  @media screen and (max-width: $breakpoint-s) {
    @include col-s('.cols:not(.is-s), .cols:not(.is-xs)');
  }
  @media print and (max-width: $breakpoint-s) {
    @include col-s('.cols:not(.is-s-print), .cols:not(.is-xs-print)');
  }
  @media screen and (max-width: $breakpoint-xs) {
    @include col-xs('.cols:not(.is-xs)');
  }
  @media print and (max-width: $breakpoint-xs) {
    @include col-xs('.cols:not(.is-xs-print)');
  }

  /* Gutters */

  @each $i in [0, 0.5, 1, 1.5, 2, 2.5, 3, 4, 5, 6, 7, 8, 9] {
    $ii: $i;
    @if $i == 0.5 { $ii: '0-5'; }
    @if $i == 1.5 { $ii: '1-5'; }
    @if $i == 2.5 { $ii: '2-5'; }
    .cols-gap-#{$ii} {
      margin-right: -#{$col-gap-multiplier * $i};
      margin-left: -#{$col-gap-multiplier * $i};
    }
    .cols-gap-#{$ii} > .col,
    .cols-gap-#{$ii} > [class*="col-"] {
      padding-right: #{$col-gap-multiplier * $i};
      padding-left: #{$col-gap-multiplier * $i};
    }
  }

/* ---- Text columns ----------------- */

  .text3 {
    column-count: 3;
    column-gap: 50px;
    padding: 0 1px;
  }
  .text3 p {
    margin: 0px;
    display: inline;
  }
  @media (max-width: 880px) {
    .text3 {
      column-count: 2;
    }
  }
  @media (max-width: 680px) {
    .text3 {
      column-count: 1;
    }
  }

/* ---- Narrow typo --------------- */

  .typo-narrow p,
  .typo-narrow ul {
    width: 70%;
  }
  @media (max-width: 1000px) {
    .typo-narrow p,
    .typo-narrow ul {
      width: 88%;
    }
  }
  @media (max-width: 550px) {
    .typo-narrow p,
    .typo-narrow ul {
      width: 100%;
    }
  }
