// Checkbox/radio
$checkbox-height: 20px !default;
$checkbox-inner-height: 10px !default;
$toggle-height: 1.8em !default;
$toggle-width: $toggle-height * 1.8 !default;
$toggle-color-active: $input-border-color-active !default;

// Error
$error-font-size: 0.95rem !default;

// Input
$input-background: #fff !default;
$input-background--invalid: #fffcfd !default;
$input-border-color: #efefef !default;
$input-border-color-active: $primary !default;
$input-border-width: 2px !default;
$input-color: $text !default;
$input-font-family: $body-font-family !default;
$input-font-size: 0.95rem !default;
$input-font-weight: inherit !default;
$input-padding: 15px 19px !default;
$input-border-radius: 2px !default;
$input-placeholder-color: rgba($text, 0.5) !default;

// Label
$label-color: $text-light !default;
$label-font-size: 0.85rem !default;

/* ---- Main ------------------------- */

  input,
  select,
  textarea,
  .input,
  .vs__dropdown-toggle {
    width: 100%;
    padding: $input-padding;
    font-family: $input-font-family;
    color: $input-color;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
    line-height: 1.5rem;
    background: $input-background;
    box-shadow: 0 0 0 2px $input-border-color inset;
    border: 0;
    box-sizing: border-box;
    border-radius: $input-border-radius;
    vertical-align: top;
    transition: border-color ease 0.2s, box-shadow ease 0.2s;
  }
  .onloading input,
  .onloading select,
  .onloading textarea,
  .onloading .input,
  .onloading .vs__dropdown-toggle {
    transition: none; /* Stops autofill bg flashing */
  }
  .input,
  .input-grp,
  .radio-grp,
  .checkbox-grp,
  .toggle-grp {
    margin-bottom: 1.5rem;
  }
  input[type="password"] {
    letter-spacing: 1px;
  }
  input[type="file"] {
    padding: 10px 19px 11px;
  }
  textarea {
    // min-height: 150px;
  }
  .input-grp,
  .radio-grp,
  .checkbox-grp,
  .toggle-grp {
    text-align: left;
    position: relative;
  }
  input.code,
  .input.code {
    font-size: 1.3rem;
    letter-spacing: 4px;
    margin-bottom: 1.45em;
  }

  /* Input + button element  */

  .input-btn {
    display: flex;
  }
  .input-btn input {
    flex: 1;
  }
  .input-btn .btn {
    width: auto !important;
    min-width: 0;
    font-size: 12px;
    line-height: 1.5rem;
    border-radius: $input-border-radius;
    padding: $input-padding;
    margin-left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  /* Form message */

  form .form-error {
    display: none;
    // color: $red;
    color: white;
    font-size: $error-font-size;
    padding: $input-padding;
    border-radius: 6px;
    background-color: $red-light;
    box-shadow: 0 0 0 1px $red inset;
  }
  form .form-error:empty {
    padding: 0px;
    margin: 0 !important;
  }
  form.has-errors .form-error {
    display: block;
  }

  /* Color: Grey form BG inputs */

  .form-grey input,
  .form-grey select,
  .form-grey textarea,
  .form-grey .input,
  .form-grey .radio-grp input + label:before,
  .form-grey .checkbox-grp input + label:before {
    background: $input-background;
  }

/* ---- Labels ----------------------- */

  label,
  .label-password {
    display: inline-block;
    vertical-align: top;
    text-decoration-color: $label-color;
    text-decoration: none;
    font-size: $label-font-size;
    line-height: 1.4em;
    margin-bottom: 0.45em;
    cursor: pointer;
    user-select: none;
    /* closely knit to util.errorElement  */
    transition: opacity 0.15s ease, color 0.25s ease,
      text-decoration-color 0.25s ease; // was 0.25
  }
  label,
  .label-color {
    color: $label-color;
  }
  label.invalid-out {
    //opacity: 0.2;
  }
  label.invalid-in {
    //opacity: 1;
    color: $red;
  }
  .label-password,
  a.label-password {
    display: block;
    float: right;
    margin-right: 1px;
  }
  .label-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
  }

/* ---- Radio/checkbox/toggle -------- */

  // The label needs to come after the input.
  // <div class="toggle-grp">
  //   <input id="subscribe" type="checkbox" checked>
  //   <label for="subscribe">Subscribe</label>
  // </div>

  .radio-grp,
  .checkbox-grp {
    $checkbox-width: $checkbox-height;
    $checkbox-inner-width: $checkbox-inner-height;
    input {
      position: absolute;
      left: -9999px;
    }
    label {
      display: block;
    }
    .has-tooltip {
      display: inline;
      padding: 0;
    }
    input + label {
      position: relative;
      display: inline-block;
      padding: $input-padding;
      padding-left: $checkbox-width + 12px; //0.8em;
      padding-right: 1em;
      user-select: none;
      margin-bottom: 0;
    }
    input + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: $checkbox-width;
      height: $checkbox-height;
      margin-top: -($checkbox-height / 2);
      background: $input-background;
      border: 2px solid darken($input-background, 12%);
      border-radius: 3px;
      box-sizing: border-box;
      transition: all 0.2s ease;
    }
    input + label:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: $checkbox-inner-width;
      height: $checkbox-inner-height;
      margin-left: ($checkbox-width - $checkbox-inner-width) / 2;
      margin-top: -($checkbox-inner-height / 2);
      border-radius: 3px;
      transition: all 0.2s ease;
    }
    input:checked + label:before {
      border-color: $input-border-color-active;
    }
    input:checked + label:after {
      background-color: $input-border-color-active;
    }
  }
  .radio-grp input + label:before,
  .radio-grp input + label:after {
    border-radius: 100% !important;
  }
  .toggle-grp {
    input {
      position: absolute;
      left: -9999px;
    }
    label {
      display: block;
    }
    input + label {
      position: relative;
      display: inline-block;
      padding: $input-padding;
      padding-left: $toggle-width + 0.8em;
      padding-right: 1.2em;
      margin-bottom: 0;
      user-select: none;
    }
    input + label:before,
    input + label:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -$toggle-height/2;
      background: $input-background;
      border-radius: $toggle-height;
      width: $toggle-width;
      height: $toggle-height;
      box-sizing: border-box;
      transition: all 0.2s ease;
    }
    input + label:after {
      width: $toggle-height;
      border: 2px solid transparent;
      border-color: transparent;
      background-color: #fff;
      background-clip: content-box;
    }
    input:checked + label:before {
      background-color: $toggle-color-active;
    }
    input:checked + label:after {
      left: $toggle-width - $toggle-height;
    }
  }

/* ---- Input states ----------------- */

  input:active,
  input:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus,
  .vs--open .vs__dropdown-toggle {
    outline: 0;
    box-shadow: 0 0 0 2px $input-border-color-active inset;
    background-color: $input-background;
  }
  input.invalid,
  select.invalid,
  textarea.invalid,
  .vs__dropdown-toggle.invalid {
    box-shadow: 0 0 0 2px $danger inset;
    // doesnt work for dropdown-toggle
    //background-color: $input-background--invalid;
    color: darken($danger, 20%);
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }
  input[type="radio"].invalid + label,
  input[type="checkbox"].invalid + label {
    animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    color: #7b1a1a;
  }
  input[type="radio"].invalid + label:before,
  input[type="checkbox"].invalid + label:before {
    border-color: $danger;
    background-color: $input-background--invalid;
  }
  textarea:disabled,
  input:disabled {
    background-color: #f7f7f7;
    color: #a5a5a5;
  }

  @keyframes shake {
    30% {
      transform: translate3d(-1px, 0, 0);
    }
    60% {
      transform: translate3d(1px, 0, 0);
    }
    80% {
      transform: translate3d(0px, 0, 0);
    }
  }

/* ---- Select ----------------------- */

  select,
  .vs__dropdown-toggle {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L6 6L11 1' stroke='%23c5cbd2' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    appearance: none;
    background-repeat: no-repeat;
    background-size: auto 7px;
    background-position: right 17px center;
    transition: all 200ms ease;
  }

/* ---- Select states ---------------- */

  select.select-colored,
  .select-colored .vs__dropdown-toggle {
    box-shadow: 0px 5px 12px rgba(111, 73, 219, 0.27);
    background-color: $primary;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 1L6 6L11 1' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  }
  select.select-colored,
  .select-colored input,
  .select-colored.vs--single .vs__selected {
    color: #fff;
  }
  select.select-colored:focus,
  .select-colored.vs--open .vs__dropdown-toggle {
    box-shadow: 0 0 0 2px darken($primary, 15%) inset,
      0px 5px 12px rgba(111, 73, 219, 0.27);
    background-color: darken($primary, 3%);
  }
  select.select-colored:hover,
  .select-colored .vs__dropdown-toggle:hover {
    background-color: darken($primary, 8%);
  }

/* ---- Miscellaneous ---------------- */

  /* Placeholders */

  ::-moz-placeholder {
    color: $input-placeholder-color;
  }
  :-ms-input-placeholder {
    color: $input-placeholder-color;
  }
  ::-webkit-input-placeholder {
    color: $input-placeholder-color;
  }

  /* Removing autofill colours & fonts */

  input:-webkit-autofill {
    -webkit-text-fill-color: $input-color;
    -webkit-box-shadow: 0 0 0 2px $input-border-color inset, 0 0 0 30px $input-background inset;
  }
  input:active:-webkit-autofill,
  input:focus:-webkit-autofill,
  select:active:-webkit-autofill,
  select:focus:-webkit-autofill,
  textarea:active:-webkit-autofill,
  textarea:focus:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 2px $input-border-color-active inset, 0 0 0 30px $input-background inset;
  }
  input:-webkit-autofill::first-line {
    font-family: $input-font-family;
    font-size: $input-font-size;
    font-weight: $input-font-weight;
  }

  /* Prevent input zooming */

  @media (max-width: 550px) {
    .form-mobile {
      input[type="color"],
      input[type="date"],
      input[type="datetime"],
      input[type="datetime-local"],
      input[type="email"],
      input[type="month"],
      input[type="number"],
      input[type="password"],
      input[type="search"],
      input[type="tel"],
      input[type="text"],
      input[type="time"],
      input[type="url"],
      input[type="week"],
      select,
      textarea {
        font-size: 16px;
        letter-spacing: 0;
      }
      ::-moz-placeholder {
        font-size: 16px;
        letter-spacing: 0;
      }
      :-ms-input-placeholder {
        font-size: 16px;
        letter-spacing: 0;
      }
      ::-webkit-input-placeholder {
        font-size: 16px;
        letter-spacing: 0;
      }
    }
  }
