$space-multiplier: 0.66rem !default;
$md:     0.8 !default;
$sm:     0.65 !default;
$sizes:  0.5 1 1.5 2 2.5 3 4 5 6 7 8 9 10 11 12 13 14 15 !default;

/* ---- Main ------------------------- */

  @each $type, $t in (padding, p), (margin, m) {
    @media (max-width: 580px) {
      @each $i in $sizes {
        $ii: $i;
        @if $i == 0.5 { $ii: '0-5'; }
        @if $i == 1.5 { $ii: '1-5'; }
        @if $i == 2.5 { $ii: '2-5'; }

        .#{$t}-#{$ii} {
          #{$type}: $space-multiplier * $i * $sm !important;
        }
        .#{$t}t-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-top: $space-multiplier * $i * $sm !important;
        }
        .#{$t}b-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-bottom: $space-multiplier * $i * $sm !important;
        }
        .#{$t}l-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-left: $space-multiplier * $i * $sm !important;
        }
        .#{$t}r-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-right: $space-multiplier * $i * $sm !important;
        }
      }
    }
    @media (min-width: 581px) and (max-width: 770px) {
      @each $i in $sizes {
        $ii: $i;
        @if $i == 0.5 { $ii: '0-5'; }
        @if $i == 1.5 { $ii: '1-5'; }
        @if $i == 2.5 { $ii: '2-5'; }
        .#{$t}-#{$ii} {
          #{$type}: $space-multiplier * $i * $md !important;
        }
        .#{$t}t-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-top: $space-multiplier * $i * $md !important;
        }
        .#{$t}b-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-bottom: $space-multiplier * $i * $md !important;
        }
        .#{$t}l-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-left: $space-multiplier * $i * $md !important;
        }
        .#{$t}r-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-right: $space-multiplier * $i * $md !important;
        }
      }
      @each $i in $sizes {
        $ii: $i;
        @if $i == 0.5 { $ii: '0-5'; }
        @if $i == 1.5 { $ii: '1-5'; }
        @if $i == 2.5 { $ii: '2-5'; }

        .sm-md.#{$t}-#{$ii} {
          #{$type}: $space-multiplier * $i * $sm !important;
        }
        .sm-md.#{$t}t-#{$ii},
        .sm-md.#{$t}y-#{$ii} {
          #{$type}-top: $space-multiplier * $i * $sm !important;
        }
        .sm-md.#{$t}b-#{$ii},
        .sm-md.#{$t}y-#{$ii} {
          #{$type}-bottom: $space-multiplier * $i * $sm !important;
        }
        .sm-md.#{$t}l-#{$ii},
        .sm-md.#{$t}x-#{$ii} {
          #{$type}-left: $space-multiplier * $i * $sm !important;
        }
        .sm-md.#{$t}r-#{$ii},
        .sm-md.#{$t}x-#{$ii} {
          #{$type}-right: $space-multiplier * $i * $sm !important;
        }
      }
    }
    @media (min-width: 771px) {
      @each $i in $sizes {
        $ii: $i;
        @if $i == 0.5 { $ii: '0-5'; }
        @if $i == 1.5 { $ii: '1-5'; }
        @if $i == 2.5 { $ii: '2-5'; }

        .#{$t}-#{$ii} {
          #{$type}: $space-multiplier * $i !important;
        }
        .#{$t}t-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-top: $space-multiplier * $i !important;
        }
        .#{$t}b-#{$ii},
        .#{$t}y-#{$ii} {
          #{$type}-bottom: $space-multiplier * $i !important;
        }
        .#{$t}l-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-left: $space-multiplier * $i !important;
        }
        .#{$t}r-#{$ii},
        .#{$t}x-#{$ii} {
          #{$type}-right: $space-multiplier * $i !important;
        }
      }
    }
    @media (min-width: 0px) {
      .#{$t}-0 {
        #{$type}: 0 !important;
      }
      .#{$t}t-0,
      .#{$t}y-0 {
        #{$type}-top: 0 !important;
      }
      .#{$t}b-0,
      .#{$t}y-0 {
        #{$type}-bottom: 0 !important;
      }
      .#{$t}l-0,
      .#{$t}x-0 {
        #{$type}-left: 0 !important;
      }
      .#{$t}r-0,
      .#{$t}x-0 {
        #{$type}-right: 0 !important;
      }
    }
  }
