/* ---- Content (wysiwyg) ------------ */

  .content {
    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
      margin-bottom: 1.4rem;
    }
    h1 {
      font-size: 1.9rem;
    }
    h2 {
      font-size: 1.7rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    h5 {
      font-size: 1.1rem;
    }
    h6 {
      font-size: 1.0rem;
    }
    p,
    ul,
    ol,
    q,
    pre {
      margin-bottom: 1.4rem;
    }
    small {
      font-size: 0.85em;
    }
    q {
      background-color: #abc3441f;
      color: #536311;
      border-radius: 4px;
      padding: 1.4em 1.5em;
      & b {
        color: #536311;
      }
      &:before,
      &:after {
        display: none;
      }
    }
    li {
      margin: 0 0 0.2em 2em;
    }
    .ul-blank {
      list-style: none;
    }
    .ul-blank li {
      margin: 0 0 0.5em 0em;
    }
    ul li:last-child {
      padding-bottom: 0.1em;
    }
    ul li:last-child {
      padding-bottom: 0.1em;
    }
  }
