/* ---- Content (wysiwyg) ------------ */

  .content {
    h1, h2, h3, h4 {
      font-style: normal;
      font-weight: bold;
      line-height: 1.5em;
      letter-spacing: -0.03em;
      margin: 0 0 0.8em 0;
    }
    h1 {
      font-size: 27px;
    }
    h2 {
      font-size: 25px;
    }
    h3 {
      font-size: 22px;
    }
    h4 {
      font-size: 18px;
    }
    b, strong {
      font-weight: bold;
    }
    p,
    ul,
    ol,
    q,
    small,
    code {
      margin-top: 0;
      margin-bottom: 1.4rem;
      line-height: 1.6em;
    }
    small,
    code {
      display: block;
    }
    pre {
      margin: 0;
    }
    ul, ol {}
    li {
      margin: 0 0 0.2em 2em;
    }
    .ul-blank {
      list-style: none;
    }
    .ul-blank li {
      margin: 0 0 0.5em 0em;
    }
    ol a,
    ul a,
    p a {
      text-decoration: underline;
      //transition: color 0.1s ease;
    }
    ol a:hover,
    ul a:hover,
    p a:hover,
    ol a:focus,
    ul a:focus,
    p a:focus {
      text-decoration: underline;
    }
    ul li:last-child {
      padding-bottom: 0.1em;
    }
    ul li:last-child {
      padding-bottom: 0.1em;
    }
    small {
      font-size: 0.85em;
      line-height: 1.6em;
    }
    q {
      background-color: #abc3441f;
      color: #536311;
      border-radius: 4px;
      padding: 1.4em 1.5em;
      & b {
        color: #536311;
      }
      &:before,
      &:after {
        display: none;
      }
    }
  }
