// Base color variations
$orange-invert:       findColorInvert($orange) !default;
$yellow-invert:       findColorInvert($yellow) !default;
$green-invert:        findColorInvert($green) !default;
$turquoise-invert:    findColorInvert($turquoise) !default;
$cyan-invert:         findColorInvert($cyan) !default;
$blue-invert:         findColorInvert($blue) !default;
$purple-invert:       findColorInvert($purple) !default;
$red-invert:          findColorInvert($red) !default;

// App color variations
$primary-invert:      findColorInvert($primary) !default;
$primary-light:       findLightColor($primary) !default;
$primary-dark:        findDarkColor($primary) !default;
$secondary-invert:    findColorInvert($secondary) !default;
$secondary-light:     findLightColor($secondary) !default;
$secondary-dark:      findDarkColor($secondary) !default;
$success-invert:      findColorInvert($success) !default;
$success-light:       findLightColor($success) !default;
$success-dark:        findDarkColor($success) !default;
$info-invert:         findColorInvert($info) !default;
$info-light:          findLightColor($info) !default;
$info-dark:           findDarkColor($info) !default;
$warning-invert:      findColorInvert($warning) !default;
$warning-light:       findLightColor($warning) !default;
$warning-dark:        findDarkColor($warning) !default;
$danger-invert:       findColorInvert($danger) !default;
$danger-light:        findLightColor($danger) !default;
$danger-dark:         findDarkColor($danger) !default;
$text-invert:         findColorInvert($text) !default;
$text-light-invert:   findColorInvert($text-light) !default;
$text-lighter-invert: findColorInvert($text-lighter) !default;
$text-strong-invert:  findColorInvert($text-strong) !default;
$link-invert:         findColorInvert($link) !default;
$link--hover-invert:  findColorInvert($link--hover) !default;
$link--focus-invert:  findColorInvert($link--focus) !default;

// Lists and maps
$custom-gradients: ("grad1": (160deg, $primary, darken($primary, 10%), darken($primary, 15%))) !default;
$custom-colors: (/* E.g. "COLOR_NAME": (#000, #fff), ... */) !default;
$forms: (/* E.g. ("input-background": #000), ... */) !default;

// Convert gradients into colors.
@each $name, $gradient in $custom-gradients {
  // $gradient is a non-bracketed list which is confusing when debugging
  $value: getColorVariations([getFirstColor($gradient), $gradient]);
  $custom-colors: map-merge($custom-colors, ($name: $value));
}

$app-colors: mergeColorMaps((
  "white": ($white, $black, null, null, null),
  "black": ($black, $white, null, null, null),
  "primary": ($primary, $primary-invert, $primary-light, $primary-dark, null),
  "secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark, null),
  "info": ($info, $info-invert, $info-light, $info-dark, null),
  "success": ($success, $success-invert, $success-light, $success-dark, null),
  "warning": ($warning, $warning-invert, $warning-light, $warning-dark, null),
  "danger": ($danger, $danger-invert, $danger-light, $danger-dark, null),
  "text": ($text, $text-invert, null, null, null),
  "light": ($text-light, $text-light-invert, null, null, null),
  "lighter": ($text-lighter, $text-lighter-invert, null, null, null),
  "strong": ($text-strong, $text-strong-invert, null, null, null),
  "link": ($link, $link-invert, null, null, null),
  "link--hover": ($link--hover, $link--hover-invert, null, null, null),
  "link--focus": ($link--focus, $link--focus-invert, null, null, null),
), $custom-colors) !default;

$shades: (
  "black-light": $black-light,
  "black-lighter": $black-lighter,
  "black-lightest": $black-lightest,
  "grey": $grey,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
  "grey-lightest": $grey-lightest,
  "white-dark": $white-dark,
  "white-darker": $white-darker,
  "white-darkest": $white-darkest
) !default;
