// App colors
$primary:          $violet !default;
$secondary:        $blue !default;
$success:          $green !default;
$info:             $blue !default;
$warning:          $yellow !default;
$danger:           $red !default;
$text:             $black-light !default;
$text-light:       $grey !default;
$text-lighter:     $grey-light !default;
$text-strong:      $black !default;
$link:             $black-light !default;
$link--hover:      $blue !default;
$link--focus:      $blue !default;

// Base color invert variations
$orange-invert:       findColorInvert($orange) !default;
$yellow-invert:       findColorInvert($yellow) !default;
$green-invert:        findColorInvert($green) !default;
$turquoise-invert:    findColorInvert($turquoise) !default;
$cyan-invert:         findColorInvert($cyan) !default;
$blue-invert:         findColorInvert($blue) !default;
$purple-invert:       findColorInvert($purple) !default;
$red-invert:          findColorInvert($red) !default;

$orange-light:        findLightColor($orange) !default;
$yellow-light:        findLightColor($yellow) !default;
$green-light:         findLightColor($green) !default;
$turquoise-light:     findLightColor($turquoise) !default;
$cyan-light:          findLightColor($cyan) !default;
$blue-light:          findLightColor($blue) !default;
$purple-light:        findLightColor($purple) !default;
$red-light:           findLightColor($red) !default;

$orange-dark:         findDarkColor($orange) !default;
$yellow-dark:         findDarkColor($yellow) !default;
$green-dark:          findDarkColor($green) !default;
$turquoise-dark:      findDarkColor($turquoise) !default;
$cyan-dark:           findDarkColor($cyan) !default;
$blue-dark:           findDarkColor($blue) !default;
$purple-dark:         findDarkColor($purple) !default;
$red-dark:            findDarkColor($red) !default;

// App color variations
$primary-invert:      findColorInvert($primary) !default;
$primary-light:       findLightColor($primary) !default;
$primary-dark:        findDarkColor($primary) !default;
$secondary-invert:    findColorInvert($secondary) !default;
$secondary-light:     findLightColor($secondary) !default;
$secondary-dark:      findDarkColor($secondary) !default;
$success-invert:      findColorInvert($success) !default;
$success-light:       findLightColor($success) !default;
$success-dark:        findDarkColor($success) !default;
$info-invert:         findColorInvert($info) !default;
$info-light:          findLightColor($info) !default;
$info-dark:           findDarkColor($info) !default;
$warning-invert:      findColorInvert($warning) !default;
$warning-light:       findLightColor($warning) !default;
$warning-dark:        findDarkColor($warning) !default;
$danger-invert:       findColorInvert($danger) !default;
$danger-light:        findLightColor($danger) !default;
$danger-dark:         findDarkColor($danger) !default;
$text-invert:         findColorInvert($text) !default;
$text-light-invert:   findColorInvert($text-light) !default;
$text-lighter-invert: findColorInvert($text-lighter) !default;
$text-strong-invert:  findColorInvert($text-strong) !default;
$link-invert:         findColorInvert($link) !default;
$link--hover-invert:  findColorInvert($link--hover) !default;
$link--focus-invert:  findColorInvert($link--focus) !default;

// Lists and maps
$custom-gradients: ("grad1": (160deg, $primary, darken($primary, 10%), darken($primary, 15%))) !default;
$custom-colors: (/* E.g. "COLOR_NAME": (#000, #fff), ... */) !default;
$forms: (/* E.g. ("input-background": #000), ... */) !default;

// Convert gradients into colors.
@each $name, $gradient in $custom-gradients {
  // $gradient is a non-bracketed list which is confusing when debugging
  $value: getColorVariations([getFirstColor($gradient), $gradient]);
  $custom-colors: map-merge($custom-colors, ($name: $value));
}

// Used for button.is-*, td.is-*, .text-*, .bg-*
$app-colors: mergeColorMaps((
  "white": ($white, $black, null, null, null),
  "black": ($black, $white, null, null, null),
  "primary": ($primary, $primary-invert, $primary-light, $primary-dark, null),
  "secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark, null),
  "info": ($info, $info-invert, $info-light, $info-dark, null),
  "success": ($success, $success-invert, $success-light, $success-dark, null),
  "warning": ($warning, $warning-invert, $warning-light, $warning-dark, null),
  "danger": ($danger, $danger-invert, $danger-light, $danger-dark, null),
  "text": ($text, $text-invert, null, null, null),
  "light": ($text-light, $text-light-invert, null, null, null),
  "lighter": ($text-lighter, $text-lighter-invert, null, null, null),
  "strong": ($text-strong, $text-strong-invert, null, null, null),
  "link": ($link, $link-invert, null, null, null),
  "link--hover": ($link--hover, $link--hover-invert, null, null, null),
  "link--focus": ($link--focus, $link--focus-invert, null, null, null),
), $custom-colors) !default;

// Used for .text-*, .bg-*
$additional-colors: (
  // Shades
  "grey": $grey,
  "black-light": $black-light,
  "black-lighter": $black-lighter,
  "black-lightest": $black-lightest,
  "grey-light": $grey-light,
  "grey-lighter": $grey-lighter,
  "grey-lightest": $grey-lightest,
  "white-dark": $white-dark,
  "white-darker": $white-darker,
  "white-darkest": $white-darkest,
  // Colors
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "turquoise": $turquoise,
  "cyan": $cyan,
  "blue": $blue,
  "purple": $purple,
  "red": $red,
  "orange-invert": $orange-invert,
  "yellow-invert": $yellow-invert,
  "green-invert": $green-invert,
  "turquoise-invert": $turquoise-invert,
  "cyan-invert": $cyan-invert,
  "blue-invert": $blue-invert,
  "purple-invert": $purple-invert,
  "red-invert": $red-invert,
  "orange-light": $orange-light,
  "yellow-light": $yellow-light,
  "green-light": $green-light,
  "turquoise-light": $turquoise-light,
  "cyan-light": $cyan-light,
  "blue-light": $blue-light,
  "purple-light": $purple-light,
  "red-light": $red-light,
  "orange-dark": $orange-dark,
  "yellow-dark": $yellow-dark,
  "green-dark": $green-dark,
  "turquoise-dark": $turquoise-dark,
  "cyan-dark": $cyan-dark,
  "blue-dark": $blue-dark,
  "purple-dark": $purple-dark,
  "red-dark": $red-dark,
  // App color variations
  "primary-invert": $primary-invert,
  "primary-light": $primary-light,
  "primary-dark": $primary-dark,
  "secondary-invert": $secondary-invert,
  "secondary-light": $secondary-light,
  "secondary-dark": $secondary-dark,
  "success-invert": $success-invert,
  "success-light": $success-light,
  "success-dark": $success-dark,
  "info-invert": $info-invert,
  "info-light": $info-light,
  "info-dark": $info-dark,
  "warning-invert": $warning-invert,
  "warning-light": $warning-light,
  "warning-dark": $warning-dark,
  "danger-invert": $danger-invert,
  "danger-light": $danger-light,
  "danger-dark": $danger-dark,
  "text-invert": $text-invert,
  "text-light-invert": $text-light-invert,
  "text-lighter-invert": $text-lighter-invert,
  "text-strong-invert": $text-strong-invert,
  "link-invert": $link-invert,
  "link--hover-invert": $link--hover-invert,
  "link--focus-invert": $link--focus-invert,
) !default;

// Typography
$size-xsmall: $size-1 !default;
$size-small: $size-2 !default;
$size-normal: $size-3 !default;
$size-medium: $size-4 !default;
$size-large: $size-5 !default;
$size-xlarge: $size-6 !default;

$family-primary: $family-sans-serif !default;
$family-secondary: $family-sans-serif !default;
$family-code:  $family-monospace !default;

$font-sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
