// Initial colors
$black:         hsl(0, 0%, 0%) !default;
$black-light:   hsl(0, 0%, 7%) !default;
$black-lighter: hsl(0, 0%, 13%) !default;

$grey:          hsl(0, 0%, 27%) !default;
$grey-light:    hsl(0, 0%, 47%) !default;
$grey-lighter:  hsl(0, 0%, 73%) !default;
$grey-lightest: hsl(0, 0%, 93%) !default;

$orange:        hsl(14,  100%, 53%) !default;
$yellow:        hsl(48,  100%, 67%) !default;
$green:         hsl(141, 53%,  53%) !default;
$turquoise:     hsl(171, 100%, 41%) !default;
$cyan:          hsl(204, 71%,  53%) !default;
$blue:          hsl(217, 71%,  53%) !default;
$purple:        hsl(271, 100%, 71%) !default;
$red:           hsl(348, 86%, 61%) !default;

// Application colors
$primary:       $purple !default;
$secondary:     $blue !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;

$text:          $black-light !default;
$text-light:    $grey !default;
$text-lighter:  $grey-light !default;
$text-strong:   $black !default;
$link:          $black !default;
$link-focus:    $blue !default;
$link-hover:    $blue !default;

// Derived colors
$primary-light: findLightColor($primary) !default;
$secondary-dark: findDarkColor($secondary) !default;
$secondary-light: findLightColor($secondary) !default;
$primary-dark: findDarkColor($primary) !default;
$success-light: findLightColor($success) !default;
$success-dark: findDarkColor($success) !default;
$info-light: findLightColor($info) !default;
$info-dark: findDarkColor($info) !default;
$warning-light: findLightColor($warning) !default;
$warning-dark: findDarkColor($warning) !default;
$danger-light: findLightColor($danger) !default;
$danger-dark: findDarkColor($danger) !default;

// Fonts
$family-primary: Open Sans, sans-serif !default;
$family-secondary: Open Sans, sans-serif !default;
$family-code: monospace !default
