# Application files
node_modules
**/node_modules
package-lock.json
docs/.sass-cache
docs/_site

# User files
# resources

# Thumbnail and view configuration files
._*
.DS_Store
Desktop.ini
Thumbs.db

# External disk files
.Spotlight-V100
.Trashes
.fseventsd
.TemporaryItems
