@charset "utf-8";
@import "scss/variables.scss";

// SASS functions
@function encodecolor($string) {
  @if type-of($string) == 'color' {
    $hex: str-slice(ie-hex-str($string), 4);
    $string:unquote("#{$hex}");
  }
  $string: '%23' + $string;
  @return $string;
}
@function findLightColor($color) {
  @if type-of($color) == 'color' {
    $l: 96%;
    @if lightness($color) > 96% {
      $l: lightness($color);
    }
    @return change-color($color, $lightness: $l);
  }
  @return $body-background;
}
@function findDarkColor($color) {
  @if type-of($color) == 'color' {
    $base-l: 29%;
    $luminance: colorLuminance($color);
    $luminance-delta: (0.53 - $luminance);
    $target-l: round($base-l + ($luminance-delta * 53));
    @return change-color($color, $lightness: max($base-l, $target-l));
  }
  @return $text-strong;
}

@import "scss/base-normalize.scss";
@import "scss/buttons.scss";
@import "scss/columns.scss";
@import "scss/elements.scss";
@import "scss/forms.scss";
@import "scss/forms-vue-select.scss";
@import "scss/layout.scss";
@import "scss/modal.scss";
@import "scss/modifiers.scss";
@import "scss/spacing.scss";
@import "scss/tooltips.scss";
